In [1]:
# Import packages
import numpy as np
import pandas as pd
import datetime as dt
# For dates
from datetime import datetime as dta
import matplotlib.pyplot as plt

In [2]:
# Load the rides for a given year
which_year = '2018'
file_format = '.csv'
station_num  = '3045'
rides_filename = 'Station' + station_num + '-' + which_year + file_format
weather_filename = 'Weather' + which_year + file_format
rides_df = pd.read_csv(rides_filename)
weather_df = pd.read_csv(weather_filename)

In [3]:
# Drop nans for all weather variables
weather_df = weather_df.dropna(subset=['apparentTemperature', 'temperature', 'precipProbability', 
                                                    'precipIntensity', 'pressure', 'windBearing', 'windSpeed'])

In [4]:
# Get a little more from the data out of the precipitation
def is_rain(x):
    if x == 'rain': 
        return 1
    else: 
        return 0

def is_snow(x):
    if x in ['sleet', "snow"]: 
        return 1
    else: 
        return 0    
        
def precYN(x):
    if x in ['sleet', "snow", "rain"]: 
        return 1
    else: 
        return 0   
    
def day_week(x):
    if x == 0: 
        return "Monday"
    elif x == 1: 
        return "Tuesday"
    elif x == 2: 
        return "Wednesday"
    elif x == 3: 
        return "Thursday"
    elif x == 4: 
        return "Friday"
    elif x == 5: 
        return "Saturday"
    elif x == 6: 
        return "Sunday"
    
def is_weekday(x):
    weekendList = ['Saturday', "Sunday"]
    if x in weekendList: 
        return 0
    else: 
        return 1

def clean_holidays(x): 
    obs_string = ' (Observed)'
    if obs_string in x: 
        return x.strip(obs_string)
    else:
        return x

In [5]:
# shape columns for join for weather data
weather_df['hour'] = pd.DatetimeIndex(weather_df['hour']).hour
weather_df['date'] = pd.to_datetime(weather_df['date_time'])
weather_df['snow'] = weather_df["precipType"].apply(is_snow)
weather_df['rain'] = weather_df["precipType"].apply(is_rain)
weather_df['precYN'] = weather_df["precipType"].apply(precYN)

# set dummy variables for weekdays
weather_df['weekday_dummy'] = weather_df["weekday"].apply(day_week)
temp_dummy_week = pd.get_dummies(weather_df['weekday_dummy'])
weather_df = pd.concat([weather_df, temp_dummy_week], axis=1)
weather_df['is_weekday'] = weather_df["weekday_dummy"].apply(is_weekday)

# clean holidays
# weather_df['which_holiday'] = weather_df['which_holiday'].apply(clean_holidays)
# set dummy variables for holidays
# temp_dummy_holiday = pd.get_dummies(weather_df['which_holiday'])
#weather_df = pd.concat([weather_df, temp_dummy_holiday], axis=1)

# delete the column we don't need
weather_df.drop(['Unnamed: 0'], axis=1, inplace = True)

In [6]:
# categorize hours
bins = [0, 6, 10, 16, 20]
names = ['night', 'rushM', 'midday', 'rushE', 'evening']
temp_d = dict(enumerate(names, 1))
weather_df['time_day'] = np.vectorize(temp_d.get)(np.digitize(weather_df['hour'], bins))

temp_dummy_day = pd.get_dummies(weather_df['time_day'])
weather_df = pd.concat([weather_df, temp_dummy_day], axis=1)

In [7]:
# shape columns for join for rides data
rides_df['hour'] = rides_df['start_time_hour']
rides_df['date'] = pd.to_datetime(rides_df['start_time_date']) 
rides_df.drop(['Unnamed: 0'], axis=1, inplace = True)

In [8]:
# Merge
new_df = pd.merge(rides_df, weather_df, on = ['date', 'hour'])
new_df

,count,timestamp,start_time_date,start_time_hour,hour,date,apparentTemperature,date_time,day,humidity,...,rushE,rushM,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,night
0,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,9.12,2018-01-01T00:00:00,1,0.55,...,0,0,0,1,0,0,0,0,0,1
1,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,8.83,2018-01-01T00:00:00,1,0.55,...,0,0,0,1,0,0,0,0,0,1
2,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,8.40,2018-01-01T00:00:00,1,0.56,...,0,0,0,1,0,0,0,0,0,1
3,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,7.77,2018-01-01T00:00:00,1,0.58,...,0,0,0,1,0,0,0,0,0,1
4,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,7.28,2018-01-01T00:00:00,1,0.59,...,0,0,0,1,0,0,0,0,0,1
5,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,6.92,2018-01-01T00:00:00,1,0.60,...,0,0,0,1,0,0,0,0,0,1
6,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,6.41,2018-01-01T00:00:00,1,0.62,...,0,1,0,1,0,0,0,0,0,1
7,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,6.09,2018-01-01T00:00:00,1,0.63,...,0,1,0,1,0,0,0,0,0,1
8,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,6.72,2018-01-01T00:00:00,1,0.63,...,0,1,0,1,0,0,0,0,0,1
9,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,3.52,2018-01-01T00:00:00,1,0.60,...,0,1,0,1,0,0,0,0,0,1
10,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,5.43,2018-01-01T00:00:00,1,0.56,...,0,0,0,1,0,0,0,0,0,1
11,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,7.59,2018-01-01T00:00:00,1,0.51,...,0,0,0,1,0,0,0,0,0,1
12,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,9.48,2018-01-01T00:00:00,1,0.46,...,0,0,0,1,0,0,0,0,0,1
13,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,11.30,2018-01-01T00:00:00,1,0.44,...,0,0,0,1,0,0,0,0,0,1
14,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,12.06,2018-01-01T00:00:00,1,0.42,...,0,0,0,1,0,0,0,0,0,1
15,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,12.83,2018-01-01T00:00:00,1,0.42,...,0,0,0,1,0,0,0,0,0,1
16,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,12.22,2018-01-01T00:00:00,1,0.44,...,1,0,0,1,0,0,0,0,0,1
17,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,17.32,2018-01-01T00:00:00,1,0.48,...,1,0,0,1,0,0,0,0,0,1
18,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,15.76,2018-01-01T00:00:00,1,0.53,...,1,0,0,1,0,0,0,0,0,1
19,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,14.25,2018-01-01T00:00:00,1,0.57,...,1,0,0,1,0,0,0,0,0,1
20,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,13.60,2018-01-01T00:00:00,1,0.60,...,0,0,0,1,0,0,0,0,0,1
21,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,14.23,2018-01-01T00:00:00,1,0.59,...,0,0,0,1,0,0,0,0,0,1
22,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,8.69,2018-01-01T00:00:00,1,0.57,...,0,0,0,1,0,0,0,0,0,1
23,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,7.81,2018-01-01T00:00:00,1,0.57,...,0,0,0,1,0,0,0,0,0,1
24,0,2018-01-02 00:00:00,2018-01-02,0,0,2018-01-02,7.52,2018-01-02T00:00:00,2,0.56,...,0,0,0,0,0,0,0,1,0,1
25,0,2018-01-02 00:00:00,2018-01-02,0,0,2018-01-02,6.69,2018-01-02T00:00:00,2,0.55,...,0,0,0,0,0,0,0,1,0,1
26,0,2018-01-02 00:00:00,2018-01-02,0,0,2018-01-02,6.04,2018-01-02T00:00:00,2,0.55,...,0,0,0,0,0,0,0,1,0,1
27,0,2018-01-02 00:00:00,2018-01-02,0,0,2018-01-02,5.68,2018-01-02T00:00:00,2,0.57,...,0,0,0,0,0,0,0,1,0,1
28,0,2018-01-02 00:00:00,2018-01-02,0,0,2018-01-02,5.84,2018-01-02T00:00:00,2,0.58,...,0,0,0,0,0,0,0,1,0,1
29,0,2018-01-02 00:00:00,2018-01-02,0,0,2018-01-02,4.82,2018-01-02T00:00:00,2,0.59,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6464,2,2018-09-29 00:00:00,2018-09-29,0,0,2018-09-29,72.53,2018-09-29T00:00:00,29,0.58,...,1,0,0,0,1,0,0,0,0,1
6465,2,2018-09-29 00:00:00,2018-09-29,0,0,2018-09-29,68.40,2018-09-29T00:00:00,29,0.67,...,1,0,0,0,1,0,0,0,0,1
6466,2,2018-09-29 00:00:00,2018-09-29,0,0,2018-09-29,65.79,2018-09-29T00:00:00,29,0.75,...,0,0,0,0,1,0,0,0,0,1
6467,2,2018-09-29 00:00:00,2018-09-29,0,0,2018-09-29,63.98,2018-09-29T00:00:00,29,0.79,...,0,0,0,0,1,0,0,0,0,1
6468,2,2018-09-29 00:00:00,2018-09-29,0,0,2018-09-29,62.72,2018-09-29T00:00:00,29,0.79,...,0,0,0,0,1,0,0,0,0,1
6469,2,2018-09-29 00:00:00,2018-09-29,0,0,2018-09-29,60.27,2018-09-29T00:00:00,29,0.85,...,0,0,0,0,1,0,0,0,0,1
6470,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,59.35,2018-09-30T00:00:00,30,0.86,...,0,0,0,0,0,1,0,0,0,1
6471,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,57.16,2018-09-30T00:00:00,30,0.91,...,0,0,0,0,0,1,0,0,0,1
6472,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,55.85,2018-09-30T00:00:00,30,0.95,...,0,0,0,0,0,1,0,0,0,1
6473,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,55.51,2018-09-30T00:00:00,30,0.93,...,0,0,0,0,0,1,0,0,0,1
6474,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,54.90,2018-09-30T00:00:00,30,0.94,...,0,0,0,0,0,1,0,0,0,1
6475,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,54.53,2018-09-30T00:00:00,30,0.93,...,0,0,0,0,0,1,0,0,0,1
6476,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,53.83,2018-09-30T00:00:00,30,0.94,...,0,1,0,0,0,1,0,0,0,1
6477,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,53.51,2018-09-30T00:00:00,30,0.95,...,0,1,0,0,0,1,0,0,0,1
6478,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,55.81,2018-09-30T00:00:00,30,0.91,...,0,1,0,0,0,1,0,0,0,1
6479,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,59.55,2018-09-30T00:00:00,30,0.83,...,0,1,0,0,0,1,0,0,0,1
6480,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,63.16,2018-09-30T00:00:00,30,0.76,...,0,0,0,0,0,1,0,0,0,1
6481,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,66.51,2018-09-30T00:00:00,30,0.68,...,0,0,0,0,0,1,0,0,0,1
6482,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,69.20,2018-09-30T00:00:00,30,0.60,...,0,0,0,0,0,1,0,0,0,1
6483,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,70.89,2018-09-30T00:00:00,30,0.55,...,0,0,0,0,0,1,0,0,0,1
6484,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,72.73,2018-09-30T00:00:00,30,0.51,...,0,0,0,0,0,1,0,0,0,1
6485,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,73.89,2018-09-30T00:00:00,30,0.47,...,0,0,0,0,0,1,0,0,0,1
6486,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,74.18,2018-09-30T00:00:00,30,0.49,...,1,0,0,0,0,1,0,0,0,1
6487,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,73.84,2018-09-30T00:00:00,30,0.50,...,1,0,0,0,0,1,0,0,0,1
6488,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,72.02,2018-09-30T00:00:00,30,0.57,...,1,0,0,0,0,1,0,0,0,1
6489,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,66.60,2018-09-30T00:00:00,30,0.75,...,1,0,0,0,0,1,0,0,0,1
6490,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,64.20,2018-09-30T00:00:00,30,0.81,...,0,0,0,0,0,1,0,0,0,1
6491,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,63.08,2018-09-30T00:00:00,30,0.84,...,0,0,0,0,0,1,0,0,0,1
6492,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,62.02,2018-09-30T00:00:00,30,0.90,...,0,0,0,0,0,1,0,0,0,1
6493,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,62.01,2018-09-30T00:00:00,30,0.91,...,0,0,0,0,0,1,0,0,0,1

In [9]:
new_df

,count,timestamp,start_time_date,start_time_hour,hour,date,apparentTemperature,date_time,day,humidity,...,Thursday,Tuesday,Wednesday,is_weekday,time_day,evening,midday,night,rushE,rushM
0,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,9.12,2018-01-01T00:00:00,1,0.55,...,0,0,0,1,night,0,0,1,0,0
1,1,2018-01-01 01:00:00,2018-01-01,1,1,2018-01-01,8.83,2018-01-01T00:00:00,1,0.55,...,0,0,0,1,night,0,0,1,0,0
2,0,2018-01-01 02:00:00,2018-01-01,2,2,2018-01-01,8.40,2018-01-01T00:00:00,1,0.56,...,0,0,0,1,night,0,0,1,0,0
3,0,2018-01-01 03:00:00,2018-01-01,3,3,2018-01-01,7.77,2018-01-01T00:00:00,1,0.58,...,0,0,0,1,night,0,0,1,0,0
4,0,2018-01-01 04:00:00,2018-01-01,4,4,2018-01-01,7.28,2018-01-01T00:00:00,1,0.59,...,0,0,0,1,night,0,0,1,0,0
5,0,2018-01-01 05:00:00,2018-01-01,5,5,2018-01-01,6.92,2018-01-01T00:00:00,1,0.60,...,0,0,0,1,night,0,0,1,0,0
6,0,2018-01-01 06:00:00,2018-01-01,6,6,2018-01-01,6.41,2018-01-01T00:00:00,1,0.62,...,0,0,0,1,rushM,0,0,0,0,1
7,1,2018-01-01 07:00:00,2018-01-01,7,7,2018-01-01,6.09,2018-01-01T00:00:00,1,0.63,...,0,0,0,1,rushM,0,0,0,0,1
8,0,2018-01-01 08:00:00,2018-01-01,8,8,2018-01-01,6.72,2018-01-01T00:00:00,1,0.63,...,0,0,0,1,rushM,0,0,0,0,1
9,0,2018-01-01 09:00:00,2018-01-01,9,9,2018-01-01,3.52,2018-01-01T00:00:00,1,0.60,...,0,0,0,1,rushM,0,0,0,0,1
10,0,2018-01-01 10:00:00,2018-01-01,10,10,2018-01-01,5.43,2018-01-01T00:00:00,1,0.56,...,0,0,0,1,midday,0,1,0,0,0
11,0,2018-01-01 11:00:00,2018-01-01,11,11,2018-01-01,7.59,2018-01-01T00:00:00,1,0.51,...,0,0,0,1,midday,0,1,0,0,0
12,0,2018-01-01 12:00:00,2018-01-01,12,12,2018-01-01,9.48,2018-01-01T00:00:00,1,0.46,...,0,0,0,1,midday,0,1,0,0,0
13,0,2018-01-01 13:00:00,2018-01-01,13,13,2018-01-01,11.30,2018-01-01T00:00:00,1,0.44,...,0,0,0,1,midday,0,1,0,0,0
14,0,2018-01-01 14:00:00,2018-01-01,14,14,2018-01-01,12.06,2018-01-01T00:00:00,1,0.42,...,0,0,0,1,midday,0,1,0,0,0
15,0,2018-01-01 15:00:00,2018-01-01,15,15,2018-01-01,12.83,2018-01-01T00:00:00,1,0.42,...,0,0,0,1,midday,0,1,0,0,0
16,1,2018-01-01 16:00:00,2018-01-01,16,16,2018-01-01,12.22,2018-01-01T00:00:00,1,0.44,...,0,0,0,1,rushE,0,0,0,1,0
17,0,2018-01-01 17:00:00,2018-01-01,17,17,2018-01-01,17.32,2018-01-01T00:00:00,1,0.48,...,0,0,0,1,rushE,0,0,0,1,0
18,0,2018-01-01 18:00:00,2018-01-01,18,18,2018-01-01,15.76,2018-01-01T00:00:00,1,0.53,...,0,0,0,1,rushE,0,0,0,1,0
19,0,2018-01-01 19:00:00,2018-01-01,19,19,2018-01-01,14.25,2018-01-01T00:00:00,1,0.57,...,0,0,0,1,rushE,0,0,0,1,0
20,0,2018-01-01 20:00:00,2018-01-01,20,20,2018-01-01,13.60,2018-01-01T00:00:00,1,0.60,...,0,0,0,1,evening,1,0,0,0,0
21,0,2018-01-01 21:00:00,2018-01-01,21,21,2018-01-01,14.23,2018-01-01T00:00:00,1,0.59,...,0,0,0,1,evening,1,0,0,0,0
22,2,2018-01-01 22:00:00,2018-01-01,22,22,2018-01-01,8.69,2018-01-01T00:00:00,1,0.57,...,0,0,0,1,evening,1,0,0,0,0
23,0,2018-01-01 23:00:00,2018-01-01,23,23,2018-01-01,7.81,2018-01-01T00:00:00,1,0.57,...,0,0,0,1,evening,1,0,0,0,0
24,0,2018-01-02 00:00:00,2018-01-02,0,0,2018-01-02,7.52,2018-01-02T00:00:00,2,0.56,...,0,1,0,1,night,0,0,1,0,0
25,0,2018-01-02 01:00:00,2018-01-02,1,1,2018-01-02,6.69,2018-01-02T00:00:00,2,0.55,...,0,1,0,1,night,0,0,1,0,0
26,0,2018-01-02 02:00:00,2018-01-02,2,2,2018-01-02,6.04,2018-01-02T00:00:00,2,0.55,...,0,1,0,1,night,0,0,1,0,0
27,0,2018-01-02 03:00:00,2018-01-02,3,3,2018-01-02,5.68,2018-01-02T00:00:00,2,0.57,...,0,1,0,1,night,0,0,1,0,0
28,0,2018-01-02 04:00:00,2018-01-02,4,4,2018-01-02,5.84,2018-01-02T00:00:00,2,0.58,...,0,1,0,1,night,0,0,1,0,0
29,0,2018-01-02 05:00:00,2018-01-02,5,5,2018-01-02,4.82,2018-01-02T00:00:00,2,0.59,...,0,1,0,1,night,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6464,4,2018-09-29 18:00:00,2018-09-29,18,18,2018-09-29,72.53,2018-09-29T00:00:00,29,0.58,...,0,0,0,0,rushE,0,0,0,1,0
6465,2,2018-09-29 19:00:00,2018-09-29,19,19,2018-09-29,68.40,2018-09-29T00:00:00,29,0.67,...,0,0,0,0,rushE,0,0,0,1,0
6466,0,2018-09-29 20:00:00,2018-09-29,20,20,2018-09-29,65.79,2018-09-29T00:00:00,29,0.75,...,0,0,0,0,evening,1,0,0,0,0
6467,1,2018-09-29 21:00:00,2018-09-29,21,21,2018-09-29,63.98,2018-09-29T00:00:00,29,0.79,...,0,0,0,0,evening,1,0,0,0,0
6468,3,2018-09-29 22:00:00,2018-09-29,22,22,2018-09-29,62.72,2018-09-29T00:00:00,29,0.79,...,0,0,0,0,evening,1,0,0,0,0
6469,2,2018-09-29 23:00:00,2018-09-29,23,23,2018-09-29,60.27,2018-09-29T00:00:00,29,0.85,...,0,0,0,0,evening,1,0,0,0,0
6470,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,59.35,2018-09-30T00:00:00,30,0.86,...,0,0,0,0,night,0,0,1,0,0
6471,2,2018-09-30 01:00:00,2018-09-30,1,1,2018-09-30,57.16,2018-09-30T00:00:00,30,0.91,...,0,0,0,0,night,0,0,1,0,0
6472,1,2018-09-30 02:00:00,2018-09-30,2,2,2018-09-30,55.85,2018-09-30T00:00:00,30,0.95,...,0,0,0,0,night,0,0,1,0,0
6473,0,2018-09-30 03:00:00,2018-09-30,3,3,2018-09-30,55.51,2018-09-30T00:00:00,30,0.93,...,0,0,0,0,night,0,0,1,0,0
6474,0,2018-09-30 04:00:00,2018-09-30,4,4,2018-09-30,54.90,2018-09-30T00:00:00,30,0.94,...,0,0,0,0,night,0,0,1,0,0
6475,0,2018-09-30 05:00:00,2018-09-30,5,5,2018-09-30,54.53,2018-09-30T00:00:00,30,0.93,...,0,0,0,0,night,0,0,1,0,0
6476,0,2018-09-30 06:00:00,2018-09-30,6,6,2018-09-30,53.83,2018-09-30T00:00:00,30,0.94,...,0,0,0,0,rushM,0,0,0,0,1
6477,0,2018-09-30 07:00:00,2018-09-30,7,7,2018-09-30,53.51,2018-09-30T00:00:00,30,0.95,...,0,0,0,0,rushM,0,0,0,0,1
6478,0,2018-09-30 08:00:00,2018-09-30,8,8,2018-09-30,55.81,2018-09-30T00:00:00,30,0.91,...,0,0,0,0,rushM,0,0,0,0,1
6479,3,2018-09-30 09:00:00,2018-09-30,9,9,2018-09-30,59.55,2018-09-30T00:00:00,30,0.83,...,0,0,0,0,rushM,0,0,0,0,1
6480,1,2018-09-30 10:00:00,2018-09-30,10,10,2018-09-30,63.16,2018-09-30T00:00:00,30,0.76,...,0,0,0,0,midday,0,1,0,0,0
6481,3,2018-09-30 11:00:00,2018-09-30,11,11,2018-09-30,66.51,2018-09-30T00:00:00,30,0.68,...,0,0,0,0,midday,0,1,0,0,0
6482,4,2018-09-30 12:00:00,2018-09-30,12,12,2018-09-30,69.20,2018-09-30T00:00:00,30,0.60,...,0,0,0,0,midday,0,1,0,0,0
6483,2,2018-09-30 13:00:00,2018-09-30,13,13,2018-09-30,70.89,2018-09-30T00:00:00,30,0.55,...,0,0,0,0,midday,0,1,0,0,0
6484,2,2018-09-30 14:00:00,2018-09-30,14,14,2018-09-30,72.73,2018-09-30T00:00:00,30,0.51,...,0,0,0,0,midday,0,1,0,0,0
6485,3,2018-09-30 15:00:00,2018-09-30,15,15,2018-09-30,73.89,2018-09-30T00:00:00,30,0.47,...,0,0,0,0,midday,0,1,0,0,0
6486,0,2018-09-30 16:00:00,2018-09-30,16,16,2018-09-30,74.18,2018-09-30T00:00:00,30,0.49,...,0,0,0,0,rushE,0,0,0,1,0
6487,4,2018-09-30 17:00:00,2018-09-30,17,17,2018-09-30,73.84,2018-09-30T00:00:00,30,0.50,...,0,0,0,0,rushE,0,0,0,1,0
6488,2,2018-09-30 18:00:00,2018-09-30,18,18,2018-09-30,72.02,2018-09-30T00:00:00,30,0.57,...,0,0,0,0,rushE,0,0,0,1,0
6489,1,2018-09-30 19:00:00,2018-09-30,19,19,2018-09-30,66.60,2018-09-30T00:00:00,30,0.75,...,0,0,0,0,rushE,0,0,0,1,0
6490,1,2018-09-30 20:00:00,2018-09-30,20,20,2018-09-30,64.20,2018-09-30T00:00:00,30,0.81,...,0,0,0,0,evening,1,0,0,0,0
6491,0,2018-09-30 21:00:00,2018-09-30,21,21,2018-09-30,63.08,2018-09-30T00:00:00,30,0.84,...,0,0,0,0,evening,1,0,0,0,0
6492,0,2018-09-30 22:00:00,2018-09-30,22,22,2018-09-30,62.02,2018-09-30T00:00:00,30,0.90,...,0,0,0,0,evening,1,0,0,0,0
6493,0,2018-09-30 23:00:00,2018-09-30,23,23,2018-09-30,62.01,2018-09-30T00:00:00,30,0.91,...,0,0,0,0,evening,1,0,0,0,0

In [10]:
# Analysis of strike data
if which_year == '2016': 
    start_from_temp = "24/10/2016"
    end_at_temp = "14/11/2016"
    start_from = dta.strptime(start_from_temp, "%d/%m/%Y")
    end_at = dta.strptime(end_at_temp, "%d/%m/%Y")
    strike_df  = new_df[(pd.to_datetime(new_df['date_time']) > start_from) & 
                      (pd.to_datetime(new_df['date_time']) <= end_at)].reset_index()
    strike_trips = strike_df.groupby(['start_time_date'])['count'].sum()
    thisMax = strike_trips.max()
    
    plot_fig = False
    if plot_fig == True: 
        # this is why we drop the weird week
        import matplotlib.pyplot as plt
        %matplotlib inline
        f = plt.figure()
        plt.plot(strike_trips, 'o', color = (178/255, 34/255, 34/255))
        plt.xlabel('dates')
        plt.ylabel('nTrips')
        ax = plt.gca()
        x_labels = ax.get_xticks()
        ax.set_xticklabels(['25T', '26W','27T', '28F', '29S', '30S', '31M',
                    '1T', '2W', '3T', '4F', '5S', '6S', '7M', 
                    '8T', '9W', '10T', '11F', '12S', '13S', '13M'])
        plt.plot([6.5, 6.5], [0, 140], color='k', linestyle='--', linewidth=2)
        plt.plot([13.5, 13.5], [0, 140], color='k', linestyle='--', linewidth=2)
        plt.ylim([0, thisMax+10])
        plt.show()
        f.savefig("strike.pdf", bbox_inches = 'tight')
    
    strike_start_temp = "1/11/2016"
    strike_end_temp = "7/11/2016"
    strike_start = dta.strptime(strike_start_temp, "%d/%m/%Y")
    strike_end = dta.strptime(strike_end_temp, "%d/%m/%Y")
    new_df  = new_df[(pd.to_datetime(new_df['date_time']) < strike_start) | 
                      (pd.to_datetime(new_df['date_time']) > strike_end)].reset_index() 
    new_df.drop(['index'], axis=1, inplace = True)

In [11]:
result_filename = 'FullStation' + station_num + which_year + file_format
new_df.to_csv(result_filename)

In [12]:
new_df

,count,timestamp,start_time_date,start_time_hour,hour,date,apparentTemperature,date_time,day,humidity,...,Thursday,Tuesday,Wednesday,is_weekday,time_day,evening,midday,night,rushE,rushM
0,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01,9.12,2018-01-01T00:00:00,1,0.55,...,0,0,0,1,night,0,0,1,0,0
1,1,2018-01-01 01:00:00,2018-01-01,1,1,2018-01-01,8.83,2018-01-01T00:00:00,1,0.55,...,0,0,0,1,night,0,0,1,0,0
2,0,2018-01-01 02:00:00,2018-01-01,2,2,2018-01-01,8.40,2018-01-01T00:00:00,1,0.56,...,0,0,0,1,night,0,0,1,0,0
3,0,2018-01-01 03:00:00,2018-01-01,3,3,2018-01-01,7.77,2018-01-01T00:00:00,1,0.58,...,0,0,0,1,night,0,0,1,0,0
4,0,2018-01-01 04:00:00,2018-01-01,4,4,2018-01-01,7.28,2018-01-01T00:00:00,1,0.59,...,0,0,0,1,night,0,0,1,0,0
5,0,2018-01-01 05:00:00,2018-01-01,5,5,2018-01-01,6.92,2018-01-01T00:00:00,1,0.60,...,0,0,0,1,night,0,0,1,0,0
6,0,2018-01-01 06:00:00,2018-01-01,6,6,2018-01-01,6.41,2018-01-01T00:00:00,1,0.62,...,0,0,0,1,rushM,0,0,0,0,1
7,1,2018-01-01 07:00:00,2018-01-01,7,7,2018-01-01,6.09,2018-01-01T00:00:00,1,0.63,...,0,0,0,1,rushM,0,0,0,0,1
8,0,2018-01-01 08:00:00,2018-01-01,8,8,2018-01-01,6.72,2018-01-01T00:00:00,1,0.63,...,0,0,0,1,rushM,0,0,0,0,1
9,0,2018-01-01 09:00:00,2018-01-01,9,9,2018-01-01,3.52,2018-01-01T00:00:00,1,0.60,...,0,0,0,1,rushM,0,0,0,0,1
10,0,2018-01-01 10:00:00,2018-01-01,10,10,2018-01-01,5.43,2018-01-01T00:00:00,1,0.56,...,0,0,0,1,midday,0,1,0,0,0
11,0,2018-01-01 11:00:00,2018-01-01,11,11,2018-01-01,7.59,2018-01-01T00:00:00,1,0.51,...,0,0,0,1,midday,0,1,0,0,0
12,0,2018-01-01 12:00:00,2018-01-01,12,12,2018-01-01,9.48,2018-01-01T00:00:00,1,0.46,...,0,0,0,1,midday,0,1,0,0,0
13,0,2018-01-01 13:00:00,2018-01-01,13,13,2018-01-01,11.30,2018-01-01T00:00:00,1,0.44,...,0,0,0,1,midday,0,1,0,0,0
14,0,2018-01-01 14:00:00,2018-01-01,14,14,2018-01-01,12.06,2018-01-01T00:00:00,1,0.42,...,0,0,0,1,midday,0,1,0,0,0
15,0,2018-01-01 15:00:00,2018-01-01,15,15,2018-01-01,12.83,2018-01-01T00:00:00,1,0.42,...,0,0,0,1,midday,0,1,0,0,0
16,1,2018-01-01 16:00:00,2018-01-01,16,16,2018-01-01,12.22,2018-01-01T00:00:00,1,0.44,...,0,0,0,1,rushE,0,0,0,1,0
17,0,2018-01-01 17:00:00,2018-01-01,17,17,2018-01-01,17.32,2018-01-01T00:00:00,1,0.48,...,0,0,0,1,rushE,0,0,0,1,0
18,0,2018-01-01 18:00:00,2018-01-01,18,18,2018-01-01,15.76,2018-01-01T00:00:00,1,0.53,...,0,0,0,1,rushE,0,0,0,1,0
19,0,2018-01-01 19:00:00,2018-01-01,19,19,2018-01-01,14.25,2018-01-01T00:00:00,1,0.57,...,0,0,0,1,rushE,0,0,0,1,0
20,0,2018-01-01 20:00:00,2018-01-01,20,20,2018-01-01,13.60,2018-01-01T00:00:00,1,0.60,...,0,0,0,1,evening,1,0,0,0,0
21,0,2018-01-01 21:00:00,2018-01-01,21,21,2018-01-01,14.23,2018-01-01T00:00:00,1,0.59,...,0,0,0,1,evening,1,0,0,0,0
22,2,2018-01-01 22:00:00,2018-01-01,22,22,2018-01-01,8.69,2018-01-01T00:00:00,1,0.57,...,0,0,0,1,evening,1,0,0,0,0
23,0,2018-01-01 23:00:00,2018-01-01,23,23,2018-01-01,7.81,2018-01-01T00:00:00,1,0.57,...,0,0,0,1,evening,1,0,0,0,0
24,0,2018-01-02 00:00:00,2018-01-02,0,0,2018-01-02,7.52,2018-01-02T00:00:00,2,0.56,...,0,1,0,1,night,0,0,1,0,0
25,0,2018-01-02 01:00:00,2018-01-02,1,1,2018-01-02,6.69,2018-01-02T00:00:00,2,0.55,...,0,1,0,1,night,0,0,1,0,0
26,0,2018-01-02 02:00:00,2018-01-02,2,2,2018-01-02,6.04,2018-01-02T00:00:00,2,0.55,...,0,1,0,1,night,0,0,1,0,0
27,0,2018-01-02 03:00:00,2018-01-02,3,3,2018-01-02,5.68,2018-01-02T00:00:00,2,0.57,...,0,1,0,1,night,0,0,1,0,0
28,0,2018-01-02 04:00:00,2018-01-02,4,4,2018-01-02,5.84,2018-01-02T00:00:00,2,0.58,...,0,1,0,1,night,0,0,1,0,0
29,0,2018-01-02 05:00:00,2018-01-02,5,5,2018-01-02,4.82,2018-01-02T00:00:00,2,0.59,...,0,1,0,1,night,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6464,4,2018-09-29 18:00:00,2018-09-29,18,18,2018-09-29,72.53,2018-09-29T00:00:00,29,0.58,...,0,0,0,0,rushE,0,0,0,1,0
6465,2,2018-09-29 19:00:00,2018-09-29,19,19,2018-09-29,68.40,2018-09-29T00:00:00,29,0.67,...,0,0,0,0,rushE,0,0,0,1,0
6466,0,2018-09-29 20:00:00,2018-09-29,20,20,2018-09-29,65.79,2018-09-29T00:00:00,29,0.75,...,0,0,0,0,evening,1,0,0,0,0
6467,1,2018-09-29 21:00:00,2018-09-29,21,21,2018-09-29,63.98,2018-09-29T00:00:00,29,0.79,...,0,0,0,0,evening,1,0,0,0,0
6468,3,2018-09-29 22:00:00,2018-09-29,22,22,2018-09-29,62.72,2018-09-29T00:00:00,29,0.79,...,0,0,0,0,evening,1,0,0,0,0
6469,2,2018-09-29 23:00:00,2018-09-29,23,23,2018-09-29,60.27,2018-09-29T00:00:00,29,0.85,...,0,0,0,0,evening,1,0,0,0,0
6470,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30,59.35,2018-09-30T00:00:00,30,0.86,...,0,0,0,0,night,0,0,1,0,0
6471,2,2018-09-30 01:00:00,2018-09-30,1,1,2018-09-30,57.16,2018-09-30T00:00:00,30,0.91,...,0,0,0,0,night,0,0,1,0,0
6472,1,2018-09-30 02:00:00,2018-09-30,2,2,2018-09-30,55.85,2018-09-30T00:00:00,30,0.95,...,0,0,0,0,night,0,0,1,0,0
6473,0,2018-09-30 03:00:00,2018-09-30,3,3,2018-09-30,55.51,2018-09-30T00:00:00,30,0.93,...,0,0,0,0,night,0,0,1,0,0
6474,0,2018-09-30 04:00:00,2018-09-30,4,4,2018-09-30,54.90,2018-09-30T00:00:00,30,0.94,...,0,0,0,0,night,0,0,1,0,0
6475,0,2018-09-30 05:00:00,2018-09-30,5,5,2018-09-30,54.53,2018-09-30T00:00:00,30,0.93,...,0,0,0,0,night,0,0,1,0,0
6476,0,2018-09-30 06:00:00,2018-09-30,6,6,2018-09-30,53.83,2018-09-30T00:00:00,30,0.94,...,0,0,0,0,rushM,0,0,0,0,1
6477,0,2018-09-30 07:00:00,2018-09-30,7,7,2018-09-30,53.51,2018-09-30T00:00:00,30,0.95,...,0,0,0,0,rushM,0,0,0,0,1
6478,0,2018-09-30 08:00:00,2018-09-30,8,8,2018-09-30,55.81,2018-09-30T00:00:00,30,0.91,...,0,0,0,0,rushM,0,0,0,0,1
6479,3,2018-09-30 09:00:00,2018-09-30,9,9,2018-09-30,59.55,2018-09-30T00:00:00,30,0.83,...,0,0,0,0,rushM,0,0,0,0,1
6480,1,2018-09-30 10:00:00,2018-09-30,10,10,2018-09-30,63.16,2018-09-30T00:00:00,30,0.76,...,0,0,0,0,midday,0,1,0,0,0
6481,3,2018-09-30 11:00:00,2018-09-30,11,11,2018-09-30,66.51,2018-09-30T00:00:00,30,0.68,...,0,0,0,0,midday,0,1,0,0,0
6482,4,2018-09-30 12:00:00,2018-09-30,12,12,2018-09-30,69.20,2018-09-30T00:00:00,30,0.60,...,0,0,0,0,midday,0,1,0,0,0
6483,2,2018-09-30 13:00:00,2018-09-30,13,13,2018-09-30,70.89,2018-09-30T00:00:00,30,0.55,...,0,0,0,0,midday,0,1,0,0,0
6484,2,2018-09-30 14:00:00,2018-09-30,14,14,2018-09-30,72.73,2018-09-30T00:00:00,30,0.51,...,0,0,0,0,midday,0,1,0,0,0
6485,3,2018-09-30 15:00:00,2018-09-30,15,15,2018-09-30,73.89,2018-09-30T00:00:00,30,0.47,...,0,0,0,0,midday,0,1,0,0,0
6486,0,2018-09-30 16:00:00,2018-09-30,16,16,2018-09-30,74.18,2018-09-30T00:00:00,30,0.49,...,0,0,0,0,rushE,0,0,0,1,0
6487,4,2018-09-30 17:00:00,2018-09-30,17,17,2018-09-30,73.84,2018-09-30T00:00:00,30,0.50,...,0,0,0,0,rushE,0,0,0,1,0
6488,2,2018-09-30 18:00:00,2018-09-30,18,18,2018-09-30,72.02,2018-09-30T00:00:00,30,0.57,...,0,0,0,0,rushE,0,0,0,1,0
6489,1,2018-09-30 19:00:00,2018-09-30,19,19,2018-09-30,66.60,2018-09-30T00:00:00,30,0.75,...,0,0,0,0,rushE,0,0,0,1,0
6490,1,2018-09-30 20:00:00,2018-09-30,20,20,2018-09-30,64.20,2018-09-30T00:00:00,30,0.81,...,0,0,0,0,evening,1,0,0,0,0
6491,0,2018-09-30 21:00:00,2018-09-30,21,21,2018-09-30,63.08,2018-09-30T00:00:00,30,0.84,...,0,0,0,0,evening,1,0,0,0,0
6492,0,2018-09-30 22:00:00,2018-09-30,22,22,2018-09-30,62.02,2018-09-30T00:00:00,30,0.90,...,0,0,0,0,evening,1,0,0,0,0
6493,0,2018-09-30 23:00:00,2018-09-30,23,23,2018-09-30,62.01,2018-09-30T00:00:00,30,0.91,...,0,0,0,0,evening,1,0,0,0,0

In [13]:
rides_df

,count,timestamp,start_time_date,start_time_hour,hour,date
0,0,2018-01-01 00:00:00,2018-01-01,0,0,2018-01-01
1,1,2018-01-01 01:00:00,2018-01-01,1,1,2018-01-01
2,0,2018-01-01 02:00:00,2018-01-01,2,2,2018-01-01
3,0,2018-01-01 03:00:00,2018-01-01,3,3,2018-01-01
4,0,2018-01-01 04:00:00,2018-01-01,4,4,2018-01-01
5,0,2018-01-01 05:00:00,2018-01-01,5,5,2018-01-01
6,0,2018-01-01 06:00:00,2018-01-01,6,6,2018-01-01
7,1,2018-01-01 07:00:00,2018-01-01,7,7,2018-01-01
8,0,2018-01-01 08:00:00,2018-01-01,8,8,2018-01-01
9,0,2018-01-01 09:00:00,2018-01-01,9,9,2018-01-01
10,0,2018-01-01 10:00:00,2018-01-01,10,10,2018-01-01
11,0,2018-01-01 11:00:00,2018-01-01,11,11,2018-01-01
12,0,2018-01-01 12:00:00,2018-01-01,12,12,2018-01-01
13,0,2018-01-01 13:00:00,2018-01-01,13,13,2018-01-01
14,0,2018-01-01 14:00:00,2018-01-01,14,14,2018-01-01
15,0,2018-01-01 15:00:00,2018-01-01,15,15,2018-01-01
16,1,2018-01-01 16:00:00,2018-01-01,16,16,2018-01-01
17,0,2018-01-01 17:00:00,2018-01-01,17,17,2018-01-01
18,0,2018-01-01 18:00:00,2018-01-01,18,18,2018-01-01
19,0,2018-01-01 19:00:00,2018-01-01,19,19,2018-01-01
20,0,2018-01-01 20:00:00,2018-01-01,20,20,2018-01-01
21,0,2018-01-01 21:00:00,2018-01-01,21,21,2018-01-01
22,2,2018-01-01 22:00:00,2018-01-01,22,22,2018-01-01
23,0,2018-01-01 23:00:00,2018-01-01,23,23,2018-01-01
24,0,2018-01-02 00:00:00,2018-01-02,0,0,2018-01-02
25,0,2018-01-02 01:00:00,2018-01-02,1,1,2018-01-02
26,0,2018-01-02 02:00:00,2018-01-02,2,2,2018-01-02
27,0,2018-01-02 03:00:00,2018-01-02,3,3,2018-01-02
28,0,2018-01-02 04:00:00,2018-01-02,4,4,2018-01-02
29,0,2018-01-02 05:00:00,2018-01-02,5,5,2018-01-02
...,...,...,...,...,...,...
6523,2,2018-09-29 19:00:00,2018-09-29,19,19,2018-09-29
6524,0,2018-09-29 20:00:00,2018-09-29,20,20,2018-09-29
6525,1,2018-09-29 21:00:00,2018-09-29,21,21,2018-09-29
6526,3,2018-09-29 22:00:00,2018-09-29,22,22,2018-09-29
6527,2,2018-09-29 23:00:00,2018-09-29,23,23,2018-09-29
6528,1,2018-09-30 00:00:00,2018-09-30,0,0,2018-09-30
6529,2,2018-09-30 01:00:00,2018-09-30,1,1,2018-09-30
6530,1,2018-09-30 02:00:00,2018-09-30,2,2,2018-09-30
6531,0,2018-09-30 03:00:00,2018-09-30,3,3,2018-09-30
6532,0,2018-09-30 04:00:00,2018-09-30,4,4,2018-09-30
6533,0,2018-09-30 05:00:00,2018-09-30,5,5,2018-09-30
6534,0,2018-09-30 06:00:00,2018-09-30,6,6,2018-09-30
6535,0,2018-09-30 07:00:00,2018-09-30,7,7,2018-09-30
6536,0,2018-09-30 08:00:00,2018-09-30,8,8,2018-09-30
6537,3,2018-09-30 09:00:00,2018-09-30,9,9,2018-09-30
6538,1,2018-09-30 10:00:00,2018-09-30,10,10,2018-09-30
6539,3,2018-09-30 11:00:00,2018-09-30,11,11,2018-09-30
6540,4,2018-09-30 12:00:00,2018-09-30,12,12,2018-09-30
6541,2,2018-09-30 13:00:00,2018-09-30,13,13,2018-09-30
6542,2,2018-09-30 14:00:00,2018-09-30,14,14,2018-09-30
6543,3,2018-09-30 15:00:00,2018-09-30,15,15,2018-09-30
6544,0,2018-09-30 16:00:00,2018-09-30,16,16,2018-09-30
6545,4,2018-09-30 17:00:00,2018-09-30,17,17,2018-09-30
6546,2,2018-09-30 18:00:00,2018-09-30,18,18,2018-09-30
6547,1,2018-09-30 19:00:00,2018-09-30,19,19,2018-09-30
6548,1,2018-09-30 20:00:00,2018-09-30,20,20,2018-09-30
6549,0,2018-09-30 21:00:00,2018-09-30,21,21,2018-09-30
6550,0,2018-09-30 22:00:00,2018-09-30,22,22,2018-09-30
6551,0,2018-09-30 23:00:00,2018-09-30,23,23,2018-09-30
6552,0,2018-10-01 00:00:00,2018-10-01,0,0,2018-10-01